<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>I Was</md-card-title>
    <md-card-subtitle>About Me</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../../app/images/14384615541430-5.jpg">
  <md-card-content>
    <p>
      blah blah blah blah blah blah blah blah blah blah blah blah blah blah
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>