<h1>+++++++++++++++++++Child Content+++++++++++++++++++++++++++</h1>

<p>......................Structural Directives:.....................</p>
<h2 *ngIf="showElement"> Hide and show content using ngIf structural directive</h2>
<button md-button (click)="showElem()">show the content</button>

<div [ngSwitch]="case">
    <p *ngSwitchCase="'case1'">Red is caution!</p>
    <p *ngSwitchCase="'case2'">Blue is good to go!!</p>
    <p *ngSwitchCase="'case3'">Orange is to be alert!!</p>
</div>
<li>
    <ul *ngFor="let i of names"><h3>{{i}}</h3></ul>
</li>

<p>.....................Attribute Directives........................</p>
<h1 [ngClass]="{ classOne:cOne,classTwo:cTwo }">This element is modified</h1>
<h3 [ngStyle]="{ 'font-style':style,'font-size':size }">applying ngStyle directive</h3>


<h1>++++++++++++++++++++++++++++TDF++++++++++++++++++++++++++++++++</h1>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
    <md-input-container>
        <input mdInput name="username" placeholder="enter username" ngModel>
    </md-input-container>
    </div>
    <div class="form-group">
    <md-input-container>
        <input mdInput type="password" name="password"  placeholder="enter password" ngModel>
    </md-input-container>
    </div>
    <div ngModelGroup="address">
        <div class="form-group">
            <md-input-container>
                <input mdInput name="city" placeholder="enter city" ngModel>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput type="text" name="country"  placeholder="enter country" ngModel>
            </md-input-container>
        </div>
    </div>
    <button type="submit" md-button>submit</button>
</form>

<h1>++++++++++++++++++++++++MDF+++++++++++++++++++++++++++++++++++</h1>
<form [formGroup]="userMDForm" (ngSubmit)="mdfSubmit()">
<div class="form-group">
    <md-input-container>
        <input type="text" mdInput placeholder="enter something" class="form-control" formControlName="name">
    </md-input-container>
</div>
<div class="form-group">

     <md-input-container>
        <input type="text"  mdInput placeholder="enter something" class="form-control"  formControlName="email">
    </md-input-container>
</div>
<button md-button type="submit">submit MDF</button>
</form>

<h2>{{errorMsg}}</h2>
<ul><li *ngFor="let emp of employees"><h2>{{emp.name}}</h2></li></ul>



