<!-- <h1>Hello {{name}}</h1> -->
<md-input-container>
  <input mdInput placeholder="enter some data" [(ngModel)]="username">
</md-input-container>
<button md-button (click)="hello()">Post your thoughts!</button>
<button md-button (click)="toggleLights()">switch</button>
<div [@lightsOnOff]="roomState" class="room"></div>

<h1>++++++++++++++++++++++Filter|Pipes+++++++++++++++++</h1>
<h2>{{name|lowercase}}</h2>
<h2>{{10.19999 | number:'3.3-4'}}</h2>
<!-- [] -> for property binding, () -> for event binding-->