
    <md-toolbar color="primary">
        <div>
            <button md-button >
                <md-icon>home</md-icon>
            </button>
        </div>
        <span>Angular 4</span>
        <span class="example-spacer"></span>
        <button md-button routerLinkActive="exact:true" routerLink='app'>App</button>
        <button md-button routerLink='about'>About</button>
        <button md-button routerLink='child'>Child</button>
        
    </md-toolbar>
    <router-outlet></router-outlet>
 